//
// Schedule
//

// Form search
.form--search{
    position: relative;
    float: right;
}

.label--schedule-date{
    margin-right: 10px;
    color: $medium-blue;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.filter--schedule-date p:last-child .label--schedule-date{
    margin-left: 10px;
}
.input--schedule-date{
    @include box-sizing(border-box);
}
.input--schedule-date.schedule--date-from{
    padding-right: 43px;
}

.schedule--actions{
    padding: 40px $global-padding 0 $global-padding;
}

// Table Schedule Table Container overrides
.content--table-container.table--schedule tr:nth-child(odd):hover td:first-child,
.content--table-container.table--schedule tr:nth-child(even):hover td:first-child{
    background-color: inherit;
}
.content--table-container.table--schedule tr:nth-child(odd):hover td.cell-issue{
    background-color: $white;
}
.content--table-container.table--schedule tr:nth-child(even):hover td.cell-issue{
    background-color: $color-table-hover;
}

// Table schedule
.content--table-container.table--schedule{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}
.arrow--table--container{
    position: relative;
}
.content--table-container.table--schedule .content--table{
    width: 20000px;
}
.content--table-container.table--schedule tr:not(.has-issue) td:first-child{
    border-right: 1px solid $color-table-borders;
}

.content--table-container.table--schedule thead,
.content--table-container.table--schedule tbody,
.content--table-container.table--schedule tr{
    display: block;
    width: 100%;
}

.content--table-container.table--schedule th,
.content--table-container.table--schedule td{
    width: 154px;
    display: block;
    float: left;
    line-height: 40px;
    
    @include box-sizing(border-box);
}

.cell-issue{
    background-color: $color-cell-issue;
}

.content--table-container.table--schedule th:first-child,
.content--table-container.table--schedule td:first-child{
    position: absolute;
    width: 154px;
    height: 40px;
    line-height: 40px;
    left: 20px;
    z-index: 200;
}
.content--table-container.table--schedule th:nth-child(2),
.content--table-container.table--schedule td:nth-child(2){
    margin-left: 154px;
}
.content--table-container.table--schedule tr:not(.has-issue):nth-child(even) td:first-child,
.content--table-container.table--schedule th:first-child{
    background-color: $color-cell-background;
}

.content--table-container.table--schedule tr:not(.has-issue):nth-child(odd) td:first-child{
    background-color: $white;
}
.content--table-container.table--schedule tr:not(.has-issue):hover td:first-child{
    background-color: $color-table-hover;
}

.content--table-container.table--schedule .has-issue td:first-child{
    background-color: $color-cell-issue;
}