// Planned Work
// Calendar
.calendar--container{
    position: absolute;
    background: $white;
    width: 266px;
    z-index: 1000;
    margin-left: 0;
    margin-top: 50px;
    border: 1px solid $color-container-borders;
    opacity: 0;
    
    transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    
    @include border-radius(2px);
    @include transition(0.30s, all);
    @include transform(scale(0, 0));
}
.calendar--container.active{
    opacity: 1;
    @include transform(scale(1, 1));
}
.calendar{
    position: relative;
    padding: 20px 10px 10px 10px;
    
    overflow-x: hidden;
    z-index: 750;
    
    @include box-sizing(border-box);
}
.calendar--container .calendar{
    background-color: $white;
}
.calendar ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

.calendar--year{
    position: relative;
    width: 20000px;
    z-index: 200;
    
    @include transition(0.3s, all);
}
.calendar--year > li{
    float: left;
    width: 256px;
    padding-right: 10px;
    
    @include box-sizing(border-box);
}
.calendar--month.article--title{
    margin: 0;
    padding: 0 0 10px 0;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid $color-calendar-borders;
}
ol.calendar--week{
    margin: 5px 0 8px 0;
}
.calendar--week li{
    display: inline-block;
    width: 14.28%;
    text-align: center;
    font-size: 0.6875em;
    text-transform: uppercase;
    color: $color-calendar-week-text;
}

.day{
    display: inline-block;
    width: 14.28%;
    text-align: center;
    font-size: 0.6875em;
    color: $medium-blue;
    background-color: $white;
    border-right: 1px solid $color-calendar-day-borders;
    border-bottom: 1px solid $color-calendar-day-borders;
    
    @include box-sizing(border-box);
}
.day:nth-child(7n){
    border-right: 0 none;
}
.day:last-child{
    border-bottom: 0 none;
}
.day.day--opaque .day--link{
    color: $color-calendar-cells-text;
}
.day.day--filled .day--link{
    background: $color-calendar-day-link-background;
    color: $white;
}

.day--link{
    display: block;
    padding: 10px 0;
    color: inherit;
    text-decoration: inherit;
    cursor: default;
}
.date-picker .day--link{
    cursor: pointer;
}
.filter--schedule-date .calendar--days{
    border-top: 1px solid $color-calendar-borders;
    border-left: 1px solid $color-calendar-borders;
    border-right: 1px solid $color-calendar-borders;
}
.filter--schedule-date .calendar--days .day:last-child{
    border-bottom: 1px solid $color-calendar-borders;
}