.comment{
    
}
.comment--box{
    
}

.comment,
.comment--container{
    border-bottom: 1px solid $color-aside-borders;
}
.comment:last-child,
.comment--container:last-child{
    border-bottom: 0 none;
}
.comment--title--link{
    display: block;
    border-bottom: 1px solid transparent;
}
.comment--title{
    display: inline-block;
    margin: 0;
    padding: 15px $global-padding;
    color: $medium-blue;
    font-size: 0.8125em;
    font-weight: 600;
}
.comment--title:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin: 0 0 0 10px;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: $color-arrows-blue transparent transparent transparent;
    
}

.comments{
    height: 0;
    visibility: hidden;
    opacity: 0;
    
    @include transition(0.30s, all);
}
.comment--title--link.comments-opened + .comments{
    height: 246px;
    visibility: visible;
    opacity: 1;
}

.comment--title--link.comments-opened .comment--title:after{
    @include transform(rotate(180deg));
}
.comment--title--link.comments-opened{
    border-bottom: 1px solid $color-aside-borders;
}
.comment--container{
    margin: 0 $global-padding;
    padding: $global-padding 0;
    overflow: hidden;
}
.comment--content{
    margin-left: 45px;   
}
.comment--content form{
    position: relative;
}
.comment--content--title{
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 0.8125em;
    font-weight: 600;
    color: $medium-blue;
}
.comment--content--text em{
    font-style: normal;
    text-decoration: underline;
}

.comment--avatar{
    float: left;
    width: 30px;
    height: auto;
}
.comment--textarea{
    display: block;
    width: 100%;
    padding: 5px 5px 40px 5px;
    font-size: 0.75em;
    color: $medium-blue;
    border: 1px solid $color-aside-borders;
    
    @include box-sizing(border-box);
}