// Toolbar
.layout--dashboard .toolbar{
    padding: 18px $global-padding 16px $global-padding;
    border-bottom: 1px solid $color-toolbar-borders;
    background: $white;
}
.layout--dashboard .toolbar .content--container--title{
    float: left;
    vertical-align: middle;
    margin: 0;
    padding: 10px 0 0 0;
}
.layout--dashboard .admin-nav{
    float: right;
}

.layout--dashboard .admin-nav a{
    position: relative;
    display: block;
    padding-right: 20px;
}
.layout--dashboard .admin-nav a:before,
.layout--dashboard .admin-nav a:after{
    content: "";
    position: absolute;
    display: block;
    top: 1em;
    margin-top: 2px;
    width: 7px;
    height: 2px;
    background-color: $color-toolbar-background;
}

.layout--dashboard .admin-nav a:before{
    right: 4px;
    @include transform(rotate(45deg));
}
.layout--dashboard .admin-nav a:after{
    right: 0;
    @include transform(rotate(-45deg));
}
.layout--dashboard .admin-nav h4{
    margin: 3px 10px 0 0;
    padding: 0;
    font-size: 0.8125em;
    vertical-align: top;
    text-align: right;
    font-weight: 500;
    color: $medium-blue;
    display: inline-block;
}
.layout--dashboard .admin-nav h4 span{
    display: block;
    margin-top: -3px;
    color: $color-toolbar-user-type;
    font-size: 0.85em;
    font-weight: 300;
}
.layout--dashboard .admin-nav img{
    display: inline-block;
    width: 36px;
    height: auto;
}