// Charts

// Old Classes when we had images instead of svgs (keep here in case we want to switch back for some reason)
.content--graph{
    margin: 0;
}
.content--graph img{
    width: 100%;
    height: auto;
    display: none;
}

// Chart percentage
.content--percentage{
    margin: 0;
    padding: $global-padding;
    text-align: center;
}
.percentage--image{
    display: none;
    margin: 10px 0;
}
.percentage--legend{
    display: table-cell;
    width: 50%;
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 0.75em;
    color: $light-blue;
    text-align: left;
    
    @include box-sizing(border-box);
}
.percentage--legend:last-child{
    margin-right: 0;
}
.sole-legend .percentage--legend{
    display: inline-block;
    line-height: normal;
    width: auto;
}

// Pie chart
.content--pie-chart{
    margin: 0;
    padding: $global-padding;
    overflow: hidden;
}
.chart--donut--svg{
    float: left;
}
.chart--arc--svg{
    margin: 10px 0;
}
.pie-chart--image{
    float: left;
    display: none;
    padding-right: $global-padding;
}
.pie-chart--legends{
    margin-left: 195px;
    padding: 0 0 0 $global-padding;
    border-left: 1px solid $color-chart-legend-borders;
}
.pie-chart--legend-container{
    overflow: hidden;
}

.pie-chart--description{
    margin: 0;
    padding: $global-padding 0 15px 0;
    font-size: 0.75em;
    font-weight: 500;
    color: $medium-blue;
}

.pie-chart--legend{
    float: left;
    margin: 0 5px 5px 0;
}
.pie-chart--legend:last-child{
    margin-right: 0;
}

.pie-chart--legend a{
    position: relative;
    display: block;
    width: 110px;
    padding: $global-padding 0;
    color: $color-chart-legend-text;
    font-size: 0.67em;
    text-align: center;
    font-weight: 500;
    background: $color-chart-legend-background;
}
.pie-chart--legend a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
}
.pie-chart--legend a strong{
    font-weight: 900;
    font-size: 2.15em;
    color: $color-chart-legend-total;
    letter-spacing: -0.05em;
}
.pie-chart--legend.legend--red a:before{
    background: $blue;
}
.pie-chart--legend.legend--purple a:before{
    background: $color-chart-purple;
}
.pie-chart--legend.legend--dark-blue a:before{
    background: $color-chart-dark-blue;
}
.pie-chart--legend.legend--medium-blue a:before{
    background: $color-chart-medium-blue;
}
.pie-chart--legend.legend--light-blue a:before{
    background: $color-chart-purple;
}

.pie-chart--legend.legend--right{
    margin-left: 230px;
}

.chart--total{
    font-size: 1.3em;
    font-weight: 900;
    fill: $color-chart-total;
    text-anchor: middle;
}
.chart--donut--svg .chart--total{
    font-size: 1.6875em;
}
.chart--total--percentage{
    font-weight: 900;
    font-size: 0.75rem;
}
.donut--purple{
    fill: $color-chart-purple;
}
.donut--dark-blue{
    fill: $color-chart-dark-blue;
}
.donut--medium-blue{
    fill: $color-chart-medium-blue;
}
.donut--light-blue{
    fill: $color-chart-purple;
}
.donut--red{
    fill: $blue;
}
.arc--yellow{
    fill: $yellow;
}
.arc--red{
    fill: $blue;
}
.arc--blue{
    fill: $light-blue;
}
.arc--grey{
    fill: $color-pie-grey;
}
.arc--green{
    fill: $turquoise;
}


.pie-chart--small .pie-chart--actions{
    padding-top: 0;
}
.pie-chart--small .content--pie-chart{
    padding-bottom: 0;
}




// Chart graph
.chart--graph--svg{
    max-width: 100%;
    background: $color-graph-background;
}
.graph--line{
    fill: transparent;
    stroke: $color-graph-main-curve;
    stroke-width: 2;
}

.domain{
    stroke: transparent;
}

.tick text{
    font-family: $main-font-stack;
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    fill: $white;
    text-anchor: middle;
}

.tick line{
    stroke: $color-graph-lines;
}
.axis--y .tick text{
    @include transform(translate(20px, -10px));
}

.graph--title{
    font-family: $main-font-stack;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    fill: $white;
    text-anchor: middle;
}
.graph--label-x{
    font-family: $main-font-stack;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    fill: $white;
    text-anchor: left;
}
.graph--label-y{
    font-family: $main-font-stack;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    fill: $color-graph-label-horizontal;
    text-anchor: middle;
}