//
// Module Item Details
//

.module--item-details{
    margin-bottom: 20px;
}
.module--item-details:last-child{
    margin-bottom: 40px;
}
.item--filters{
    float: left;
}
.module--item-details .item--metadata{
    float: right;
}
.module--item-details .item--metadata p{
    margin: 0;
    padding: 0;
    color: $medium-blue;
    font-size: 0.75em;
    text-align: right;
    line-height: 1.8em;
    font-weight: 500;
}
.module--item-details .item--details{
    padding: 40px 0 0 0;
    clear: left;
}

.module--item-details.no-metadata .item--details{
    padding: 10px 0 0 0;
}
.module--item-details .item--name{
    margin: 0 60px 0 0;
    padding: 0;
    display: inline-block;
}
.module--item-details .content--label{
    display: inline-block;
    margin-right: 60px;
}
.module--item-details .content--label:last-child{
    margin-right: 0;
}
.module--item-details .content--label .label--key{ 
    width: auto;
}
.module--item-details .content--label .label--value{ 
    margin-left: 5px;
}
.module--item-details .content--label.uppercase .label--value{ 
    text-transform: uppercase;
}