///////////////////
// ##LAYOUT--LOGIN
///////////////////

.layout--login{
    height: 100%;
	height: 100vh;
}

//
// Header
//
.layout--login .header{
    position: fixed;
    top: 0;
    right: 60px;
    width: 300px;
    height: 100%;
    background: $blue;
    background: #642B73;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    z-index: 999;
}

.layout--login .layout--header-wrapper{
    margin: 0 auto;
    padding: 0 40px;
}
.layout--login .header .login--title{
    margin: 0;
    padding: 0;
    font-family: $main-font-stack;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    color: $white;
}
.layout--login .header .login--title img{
    margin-bottom: 15px; /* 0 is good as well*/
}

// Form
.layout--login .login--form{
    margin: 100px 0 30px 0;
}
.layout--login .login--input{
    margin: 0 0 30px 0;
    padding: 0;
    text-align: left;
    border-bottom: 1px solid $white;
}
.layout--login .login--input:last-of-type{
    margin: 0 0 50px 0;
}

.layout--login .login--label{
    text-indent: -9999px;
    display: inline-block;
    width: 18px;
    height: auto;
}
.layout--login .label--username{
    background: url('../../global/img/icon-person-white.svg') no-repeat center;
    background-size: auto 15px;
}
.layout--login .label--password{
    background: url('../../global/img/icon-lock-white.svg') no-repeat center;
     background-size: auto 15px;
}

.layout--login .login--link{
    display: inline-block;
    margin: 0;
    font-size: 0.75em;
    font-weight: 700;
    text-align: center;
    color: $white;
    
    &:hover{
        text-decoration: underline;
    }
}

//
// KEYFRAMES
//

/* Fade articles */
@keyframes fade-articles-1 {
    0%{
        opacity: 1;
    }
    33.333%{ 
        opacity: 0;
    }
    66.666%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-articles-2 {
    0%{
        opacity: 0;
    }
    33.333%{ 
        opacity: 1;
    }
    66.666%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fade-articles-3{
    0%{
        opacity: 0;
    }
    33.333%{ 
        opacity: 0;
    }
    66.666%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


//
// Main
//
.layout--login{
    background: $black;
}
.layout--login .main{
    width: 100%;
    height: 100%;
}


// Articles
.portal--article{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;  
    opacity: 0;
}


@for $i from 1 through $num-slides-login {
	.portal--article:nth-of-type(#{$i}) {        
        animation: fade-articles-#{$i} 9000ms infinite;
        -webkit-animation: fade-articles-#{$i} 9000ms infinite;
        -moz-animation: fade-articles-#{$i} 9000ms infinite;
	}
    
}

.portal--article--content{
    position: absolute;
    bottom: 0;
    padding: 40px 380px 40px 40px;
    
    z-index: 600;
}

.portal--article header{
    font-size: 0.75em;
    color: $white;
}
.portal--article h1{
    margin: 0;
    padding: 0;
    font-size: 1.375em;
    text-transform: uppercase;
    font-weight: 500;
    color: $white;
}
.portal--article h1 b{
    float: left;
    font-size: 2.68em;
    line-height: 1em;
    font-weight: 700;
    margin: 0 10px 0 0;
}
.portal--article h2{
    margin: 0;
    padding: 0;
    font-size: 1.375em;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: $color-login-subtitle;
}
.portal--article p{
    margin: 15px 0 0 0;
    padding: 0;
    max-width: 628px;
    font-size: 0.75em;
    color: $white;
}

