// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


.button{
    display: block;
    outline: 0;
    border: 0 none;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

// Button login
.button--login-filled{
    width: 100%;
    padding: 0.775em;
    font-size: 0.6875em;
    color: $blue;
    background: $white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.046em;
    
    @include border-radius(3px);
}
.button--login-outline{
    width: 100%;
    padding: 0.775em;
    font-size: 0.6875em;
    color: $white;
    background: transparent;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.046em;
    border: 1px solid $white;
    
    @include transition(0.3s, all);
    @include border-radius(3px);
    
    &:hover{
        color: $blue;
        background: $white;
        border: 1px solid transparent;
    }
}

// Button action
.button--action{
    float: left;
    width: auto;
    padding: 0.55rem 1.0rem;
    font-size: 0.8125rem;
    letter-spacing: 0.046rem;
    text-align: center;
    font-weight: 500;
    outline: 0 none;
    border: 0 none;
    
    @include border-radius(3px);
}

a.button--action-filled{
    color: $white;
    background-color: $color-button-filled-background; 
    
    &:hover{
        background-color: $color-button-filled-hover-background;
    }
}

.button--action-filled-white{
    color: $color-button-filled-white;
    background-color: $white; 
}



a.button--action-outline{
    color: $medium-blue;
    background-color: transparent;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.054em;
    border: 1px solid $color-button-outline-borders;
    
    &:hover{
        background-color: $color-button-outline-hover;
        border: 1px solid $color-button-outline-hover;
        color: $white;
    }
}

.button--action-white{
    margin: 0 auto;
    padding: 0.5em 1em;
    background-color: $white;
    border: 1px solid $color-button-white-border;
    font-size: 0.8125em;
    font-weight: 500;
    text-align: center;
    
    @include border-radius(3px);
}
a.button--action-white{
    color: $medium-blue;
}
a.button--action-blue{
    color: $white;
    background-color: $blue;
}

// Download
a.button--download{
    padding-left: 3em;
    background-repeat: no-repeat;
    background-position: 1em 7px;
}
a.button--download.button--action-filled{
    background-image: url('../../global/img/icon-download-white.svg');
}
a.button--download.button--action-outline{
    background-image: url('../../global/img/icon-download-blue.svg');
    
    &:hover{
        background-image: url('../../global/img/icon-download-white.svg');
    }
}

// Share
a.button--share{
    padding-left: 3em;
    background-repeat: no-repeat;
    background-position: 1em 10px;
}
a.button--share.button--action-filled{
    background-image: url('../../global/img/icon-share-white.svg');
}
a.button--share.button--action-outline{
    background-image: url('../../global/img/icon-share-blue.svg');
    
    &:hover{
        background-image: url('../../global/img/icon-share-white.svg');
    }
}

// Button search
.button--search{
    display: block;
    width: 14px;
    height: 14px;
    outline: 0 none;
    border: 0 none;
    text-indent: -9999px;
    background-image: url('../../global/img/icon-search-blue.svg');
    background-repeat: no-repeat;
    background-color: transparent;
}
.form--search .button--search{
    position: absolute;
    top: 10px;
    left: 10px;
}

// Button view
.button--view{
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    font-size: 0.8125em;
    color: $color-button-view;
    padding: 15px 15px;
    border: 0 none;
    outline: 0 none;
    
    @include transform(translate(-50%, -50%));
    @include border-radius(2px);
}

// Button textarea
.button--textarea{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    padding: 5px 10px;
    border: 0 none;
    outline: 0 none;
    color: $white;
    background-color: $color-button-textarea-background;
    font-size: 0.8125em;
    font-weight: 500;
    letter-spacing: 0.054em;
    
    border-top-left-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    
    &:hover{
        background-color: $color-button-textarea-hover-background;
    }
}