// Circles
.circle{
    position: relative;
}
.circle.circle--yellow:before{
    background: $yellow;
}
.circle.circle--red:before{
    background: $blue;
}
.circle.circle--green:before{
    background: $turquoise;
}

.circle:before{
    content: "";
    
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: -1px 4px 0 0;
    background: $light-blue;
    
    @include border-radius(50%);
}

.percentage--legend .circle{
    display: block;
    margin-left: -10px;
    padding: 0 0 5px 0;
    font-weight: 700;
}
.sole-legend .circle{
    margin-right: 5px;
}