// Overlays


// Modal overlay
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: block;
    background: $color-overlay-purple;
    z-index: 1000;
    
    //@include transform(translate3d(0,0,0));
    @include transition(0.3s, opacity);
}
.overlay.overlay--black{
    background: rgba(0, 0, 0, 0.32);
}
.overlay.overlay--white{
    background: rgba(255, 255, 255, 0.7);
}
.overlay.hidden{
    visibility: hidden;
    opacity: 0;
}

.channel--image .overlay--image{
    visibility: hidden;
    opacity: 0;
    
    z-index: 200;
    background: $color-channel-overlay;
}
.channel--image:hover .overlay{
    visibility: visible;
    opacity: 1;
}

// Specific z-index
.layout--login .overlay{
    z-index: 550;
}