// 
// Content Table
//

// Content Table Container
.content--table-container{
    margin: 0 5px 5px 5px;
}
.content--table-container.has-hover tbody > tr:hover{
    background-color: $color-table-hover;
}
.content--table-container.has-hover tbody > tr:hover{
    cursor: pointer;
}

// Content Table
.content--table{
    width: 100%;
    text-align: left;
}
.content--table tr{
    height: 40px;
}
.content--table td{
    padding: 0 15px;
    font-size: 0.75rem;
    font-weight: 500;
    color: $medium-blue;
}
.content--table td a{
    display: inherit;
    color: inherit;
    text-decoration: inherit;
}
.content--table thead tr{
    background-color: $color-table-header-background;
}

.content--table th{
    padding: 0 15px;
}
.content--table tbody tr.has-issue.has-issue{
    background-color: $color-cell-issue;
}
.content--table tbody tr:nth-child(even){
    background-color: $color-cell-background;
}
.content--table td:first-child{
    font-size: 0.8125rem;
    font-weight: 600;
}

// Content Table title
.content--table--title{
    font-size: 0.6875rem;
    font-weight: 700;
    color: $medium-blue;
    text-transform: uppercase;
}
.content--table--title.hidden{
    opacity: 0;
}
.section--dark .content--table--title{
    color: $white;
    letter-spacing: 0.055em;
}

// 
// Table assets
//

.content--table-container.table--assets{
    margin: 0;
}
.content--table-container.table--assets .tooltip{
    width: 600px;
}
.large-cells > tr{
    height: 58px;
}