// Status
.status{
    display: inline-block;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    
    @include border-radius(50%);
    @include transition(0.3s, background-color);
}
.status--warning{
    background-color: $orange;
    background-image: url('../../global/img/icon-exclamation-white.svg');
    background-position: center;
    
}
.status--success{
    background-color: $turquoise;
    background-image: url('../../global/img/icon-checkmark-white.svg');
    background-position: center;
}
.status--issue{
    background-color: $blue;
    background-image: url('../../global/img/icon-cross-white.svg');
    background-position: 4px 4px;
    background-size: 8px;

    &.remove {
        background-color: $red;
    }
}
.status--processing{
    background-color: $light-blue;
    background-image: url('../../global/img/icon-processing-white.svg');
    background-position: center;
    background-size: 8px;
}
.status--processing:hover{
    background-color: $dark-blue;
}
.status--blank{
    background-color: $color-status-blank;
    background-image: none;

}

.content--table tbody tr.has-issue.has-issue .status--blank{
    background-color: $color-status-blank-issue;
}
.content--table tbody tr.has-issue.has-issue .status--text{
    color: $blue;
    text-decoration: underline;
}

.channel--components--text .status{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background-size: 4px auto;
}