
// Custom select
.select-hidden{
    display: none;
    visibility: hidden;
}
.custom-select{
    width: 236px;
    height: 32px;
    margin-right: $global-padding;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 1.0em;
    color: $medium-blue;
    
    z-index: 999;
}
.custom-select:last-child{
    margin-right: 0;
}
.select--options{
    display: none;
    position: absolute;
    top: 32px;
    right: 0;
    left: 0;
    z-index: 999;
    height: 7em;
    margin: 0;
    padding: 0;
    list-style: none;
    background: $white;
    overflow-y: scroll;
    
    border-left: 2px solid $color-select-borders;
    border-right: 2px solid $color-select-borders;
    border-bottom: 2px solid $color-select-borders;
    
}
.select--styled.active + .select--options{
    display: block;
}
.select--options li{
    height: 1.3em;
    margin: 0;
    padding: 10px 13px 0 13px;
    color: $color-select-options-text;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 0.05em;
    
    @include transition(0.3s, color);
}
.select--options li:last-child{
    padding-bottom: 10px;
}
.select--options li:hover{
    color: $dark-blue;
    font-weight: 500;
}
.text--select{
    color: $medium-blue;
    font-size: 0.75em;
    font-weight: 900;
    letter-spacing: 0.05em;
}
.select--styled{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: $color-select-background;
    padding: 8px 15px;
}
.select--styled:before,
.select--styled:after{
    content: "";
    position: absolute;
    top: 15px;
    display: block;
    width: 6px;
    height: 2px;
    background-color: $color-select-arrows-background;
    
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    
    @include transition(all, 0.2s);
}
.select--styled:before{
    right: 18px;
    @include transform(rotate(45deg));
}
.select--styled:after{
    right: 15px;
    @include transform(rotate(-45deg));
}
.select--styled.active:before{
    
    @include transform(rotate(-45deg));
}
.select--styled.active:after{
    @include transform(rotate(45deg));
}