
// Menu
.content--section.section--food-menu .content--container {
    padding: 20px;
}
.food-menu--container {
    
}
.food-menu {
    padding: 40px 0;
    text-align: center;
}

.food-menu--title {
    margin: 0;
    padding: 0 0 20px 0;
    font-family: $menu-font-stack;
    font-size: 2.8em;
    color: $medium-blue;
}
.food-menu--subtitle {
    margin: 0;
    padding: 40px 0 0 0;
    font-family: $menu-font-stack;
    font-size: 1.8em;
    color: $medium-blue;
}
.food-menu--separator {
    padding: 15px 0;
    background-position: center;
    background-repeat: no-repeat;
}
.food-menu--text {
    margin: 0;
    padding: 0;
    font-family: $menu-font-stack;
    font-size: 1.2em;
    line-height: 1.6em;
    color: $light-blue;
}