//
// Any Module
//

// Content Module
// Module
.content--module{
    margin-bottom: 40px;
}
.content--module.less-spacing{
    margin-bottom: $global-padding;
}
.content--section:last-child .content--module:last-child{
    margin-bottom: 0;
}


// Content Container
.content--container{
    overflow: hidden;
    border: 1px solid $color-container-borders;
    background-color: $white;
}
.content--container--header{
    padding: 16px $global-padding;
    border-bottom: 1px solid $color-container-borders;
}
.content--container--header.special-clear{
    overflow: hidden;
}
.content--container--header.header--orange{
    background-color: $orange;
}



.content--module.no-spacing .content--container{
    border-bottom: 0 none;
}
.content--module.no-spacing .content--container:last-child{
    border-bottom: 1px solid $color-container-borders;
}

.module--item-details .content--container{
    overflow: visible;
}

.module--schedule .content--container--header{
    padding: $global-padding 0 0 0;
}

// Content Container Header
.content--container--header.no-border{
    border: 0 none;
}
.content--container--header.no-padding{
    padding-bottom: 0;
}