//
// Aside (right bar)
//
.aside{
    margin-top: 94px;
    float: right;
    width: 268px;
}

.aside--section{
    margin-bottom: $global-padding;
    
    background: $color-aside-section-background;
    border: 1px solid $color-aside-borders;
}
.aside--section:last-child{
    margin-bottom: 0;
}
.aside--title{
    display: block;
    margin: 0;
    padding: 15px $global-padding;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: uppercase;
    
    border-bottom: 1px solid $color-aside-borders;
}

.aside--section--footer .button--action{
    float: none;
    display: block;
}