// Contacts
.contacts{
    
}

// Service excellence rep
.contacts--excellence{
    
}
.contact--service{
    text-align: center;
    border-bottom: 1px solid $color-aside-borders;
}
.contact--service img{
    display: block;
    width: 64px;
    height: auto;
    margin: 0 auto;
}
.contact--service--subtitle{
    margin: 16px 0 0 0;
    padding: 0;
    font-size: 1.0625em;
    line-height: 1.2em;
    font-weight: 500;   
}
.contact--service--subsubtitle{
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 0.875em;
    line-height: 1.3em;
    font-weight: 500;
    color: $light-blue;
}


// Contact details
.contact--details{
    
}
.contact--details p{
    margin: 0 0 20px 0;
    padding: 0;
}
.contact--support .contact--details p{
    margin: 0 0 10px 0;
}
.contact--details:last-child p{
    margin: 0;
}

.report--main .contact--details{
    clear: both;
}
.report--main .contact--details p{
    margin: 0 0 10px 0;
}


// Contact support
.contacts--support{
    
}
.contacts--support .aside--section--footer{
    text-align: center;
    margin: 0 auto;
}

.contact--support{
    border-bottom: 1px solid $color-aside-borders;
}
.contact--support--header{
    margin-bottom: 10px;
}
.contact--support--header img{
    float: left;
    margin: 0 10px 10px 0;
}
.contact--support--title{
    margin: 0;
    padding: 0;
    font-size: 0.8125em;
    font-weight: 600;
    color: $light-blue;
}

.contacts--support .icon--contact{
    margin-right: 10px;
    padding-left: 20px;
}