// Group buttons
.content--module.group-buttons{
    height: 33px;
    margin-bottom: 20px;
    overflow: hidden;
}
.group-buttons .button--action{
    margin-right: 15px;
}
.group-buttons .button--action:last-child{
    margin-right: 0;
}
.group-buttons .button--action.clear-direction:first-child{
    margin-right: 0;
}
.group-buttons .button--action.clear-direction:last-child{
    margin-right: 15px;
}