.input--underline{
    padding: 3px 3px 6px 3px;
    background: transparent;
    border: 0 none;
    outline: 0;
    font-weight: 600;
    font-size: 0.875em;
}

// Input custom radio
.input--custom-radio{
    position: absolute;
    top: 5px;
    visibility: hidden;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
.input--custom-radio:checked{
    padding: 1px;
}
.input--custom-radio:checked:before{
    border: 1px solid $blue;
}
.input--custom-radio:checked:after{
    background: $blue;
}

.input--custom-radio:before{
    content: "";
    display: block;
    visibility: visible;
    background: transparent;
    width: 13px;
    height: 13px;
    border: 1px solid $white;
        
    @include border-radius(50%);
    @include transition(0.25s, all);
}
.input--custom-radio:after{
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    visibility: visible;
    background: transparent;
    width: 9.25px;
    height: 9.25px;
    
    @include border-radius(50%);
    @include transition(0.25s, all);
}


// Input Search
.input--search{
    padding: 10px;
    border: 1px solid $color-input-search-borders;
    outline: 0 none;
    
    @include border-radius(3px);
    @include box-sizing(border-box);
}
.form--search .input--search{
    padding: 5px 5px 5px 30px;
}

// Input Checkbox
.input--checkbox{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    border: 1px solid $color-input-checkbox-borders;
    outline: 0 none;
    background-color: transparent;
    
    -webkit-appearance: none;
    
    @include border-radius(2px);
}
.input--checkbox:before,
.input--checkbox:after{
    position: absolute;
    content: "";
    margin: 2px 0 0 2px;
    opacity: 0;
    background: $medium-blue;
    
}
.input--checkbox:before{
    width: 2px;
    height: 4px;
    
    @include transition(0.2s, all);
    
}
.input--checkbox:after{
    width: 2px;
    height: 12px;
    
    
}
.input--checkbox:checked:before,
.input--checkbox:checked:after{
    opacity: 1;
}
.input--checkbox:checked:before{
    @include transform(rotate(-45deg));
}
.input--checkbox:checked:after{
    @include transform(translateX(5px) translateY(-6px) rotate(35deg));
}

.filter--option .input--checkbox{
    margin-right: 5px;
}

// Input date
.input--schedule-date{
    padding: 8px 10px;
    font-size: 0.75em;
    font-weight: 500;
    color: $dark-blue;
    letter-spacing: 0.05em;
    border: 1px solid $color-input-date-borders;
    background-color: $color-input-date-background;
    outline: 0 none;
    
    @include border-radius(2px);
}