// Logo main login
.logo--main--login{
    position: absolute;
    display: inline-block;
    margin: 40px 0 0 40px;
    z-index: 800;
}
.logo--main--login img{
    width: 80px;
    height: auto;
}

// Logo main dashboard
.logo--main--dashboard{
    margin: 0;
    padding: 45px $global-padding;
    
    line-height: 0;
}
.logo--main--dashboard a{
    display: block;
    text-align: center;
}
.logo--main--dashboard img{
    width: 104px;
    height: auto;
}