// News
.news{
    
}
.news--text{
    font-size: 0.75em;
    color: $light-blue;
    font-weight: 500;
    line-height: 1.5em;
}

// News Latest
.news--latest img{
    display: block;
    width: 100%;
    height: auto;
}
.news--latest .aside--title{
    border-bottom: 0 none;
}
.news--latest--title{
    margin: 0;
    padding: 0;
    font-size: 1.0625em;
    font-weight: 500;
}
.news--latest a{
    display: block;
    text-decoration: inherit;
    color: inherit;
}
.news--latest a:hover{
    background: $white;
}
.news--latest .news--text{
    margin: 10px 0 0 0;
    padding: 0;
}

/*
.section--latest-news img{
    display: block;
    width: 100%;
    height: auto;
}
.section--latest-news .aside--title{
    border-bottom: 0 none;
}
.section--latest-news .news--title{
    margin: 0;
    padding: 0;
    font-size: 1.0625em;
    font-weight: 500;
}
.news--text{
    font-size: 0.75em;
    color: $light-blue;
    font-weight: 500;
    line-height: 1.5em;
}
.section--latest-news a{
    display: block;
    text-decoration: inherit;
    color: inherit;
}
.section--latest-news a:hover{
    background: $white;
}
.section--latest-news .news--text{
    margin: 10px 0 0 0;
    padding: 0;
}
*/


// News quick
.news--quick{
    
}
.news--quick--article{
    padding: 10px 10px $global-padding 10px;
    border-bottom: 1px solid $color-aside-borders;
}
.news--quick--article:last-child{
    border-bottom: 0 none;
}


/*
.news--quick{
    
}
.news--quick--article{
    padding: 10px 10px $global-padding 10px;
    border-bottom: 1px solid $color-aside-borders;
}
.news--quick--article:last-child{
    border-bottom: 0 none;
}
.article--title{
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 0.8125em;
    font-weight: 600;
    color: $medium-blue;
}
.article--text{
    margin: 0;
    padding: 0;
    font-size: 0.75em;
}
.article--text .text-link{
    text-decoration: underline;
}
*/