// Module Switches
.switches{
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}
.switches li{
    display: inline-block;
}
.switches li a{
    display: block;
    padding: 0.55em 1.5em;
    
    color: $dark-blue;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    background: $color-switch-background;
    
    border-left: 1px solid transparent;
    border-right: 1px solid $color-switch-borders;
    border-top: 1px solid $color-switch-borders;
    border-bottom: 1px solid $color-switch-borders;  
}
.switches li:first-child a{
    @include border-radius(3px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.switches li:last-child a{
    @include border-radius(3px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.switches li a.selected{
    color: $white;
    background-color: $color-switch-selected;
    border: 1px solid $color-switch-selected;
}
.switches li a:not(.selected):hover{
    background-color: $color-switch-unselected-hover;
    border-top: 1px solid $color-switch-unselected-hover;
    border-bottom: 1px solid $color-switch-unselected-hover;
    border-right: 1px solid transparent;
    color: $white;
}