// Filters
.filters--container{
    
}
.filters{
    margin: $global-padding 0 0 $global-padding;
    overflow: hidden;
}
.filters--header{
    overflow: hidden;
    padding: 0 $global-padding;
}


// Filters inline
.filters--inline{
    
}
.filters--inline:after{
    content: "";
    display: table;
    clear: left;
}

// Filter inline metadata
.filters--inline--metadata{
    float: left;
}
.filter--schedule-date{
    display: inline-block;
    vertical-align: middle;
}
.filter--schedule-date .custom-select{
    
}
.filter--schedule-date p{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

// Filter date container
.filter--date--container{
    display: inline-block;
    vertical-align: middle;
}
.filter--date--container .custom-select{
    
}
.filter--date--container p{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

// Filter
.filter{
    width: 33.33%;
    float: left;
    padding-right: 20px;
    
    @include box-sizing(border-box);
}
.filter--title{
    display: inline-block;
    vertical-align: middle;
}
.filter--container{
    border: 1px solid $color-filter-borders;
}
.filter--header{
    padding: 10px 15px;
    background-color: $color-filter-header-background;
    border-bottom: 1px solid $color-filter-borders;
}
.filter--subtitle{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: $medium-blue;
    font-size: 0.75em;
    font-weight: 500;
    vertical-align: middle;
}
.filter--link{
    display: inline-block;
    float: right;
    color: $medium-blue;
    font-size: 0.75em;
    line-height: 2.15em;
    vertical-align: middle;
}
.filter--link:hover{
    color: $color-filter-link-hover;
}
.filter--scrollable{
    height: 4.2em;
    padding: 10px 15px;
    overflow-y: auto;
}
.filter--option{
    margin: 0;
    padding: 0;
    height: 1.4em;
}
.filter--count{
    font-weight: 700;
}

